:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-family: 'Anton', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.main-container{
  background-color:#000000;
  color:#FFFFFF;
}
.heading-text{
  font-family: 'Anton', sans-serif;
  border-left:5px solid #735F32;
  font-size:40px;
}
.description-text{
  font-family: 'Hind', sans-serif;
  font-size:20px;
}
.prinary-btn{
  background-color:#735F32;
  color:#FFFFFF;
  font-family: 'Anton', sans-serif;
  font-size:20px;
}