:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-family: 'Anton', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.main-container{
  background-color:#000000;
  color:#FFFFFF;
}
.heading-text{
  font-family: 'Anton', sans-serif;
  border-left:5px solid #735F32;
  font-size:40px;
}
.description-text{
  font-family: 'Hind', sans-serif;
  font-size:20px;
}
.prinary-btn{
  background-color:#735F32;
  color:#FFFFFF;
  font-family: 'Anton', sans-serif;
  font-size:20px;
}
.package-card{
  transition: all 0.2s ease-in-out;
  border:1px solid #FFFFFF;
  font-family: 'Hind', sans-serif;
  font-size:22px; 
  background-color:#000000;
  border-radius:12px;
}
.sub-heading-split{
  color:#735F32;
}

.package-card:hover{
  transform: scale(1.1);
  font-size:23px;
  background-color:#735F32;
  border-radius:12px;
}
.package-button{
  background-color:transparent;
  border-color:#FFFFFF;
  border-radius:10px;
  color:#FFFFFF;
}
.package-button:hover{
  background-color:#735F32;
  border-color:#FFFFFF;
  color:#FFFFFF;
}

.package-price{
  font-size:18px !important;
}
.trail-text{
  font-size:18px !important;
}